[
 {
   elvis,
   [
    {config,
      #{src_dirs => ["src"],
        rules    => [{elvis_style, line_length, [100]},
                     {elvis_style, no_tabs, []},
                     {elvis_style, macro_names, []},
                     {elvis_style, macro_module_names, []},
                     {elvis_style, operator_spaces, [{right, ","},
                                                     {right, "++"},
                                                     {left, "++"}]},
                     {elvis_style, nesting_level, [3]},
                     {elvis_style, god_modules, [25]},
                     {elvis_style, no_if_expression, []},
                     {elvis_style, invalid_dynamic_call, [elvis]},
                     {elvis_style, used_ignored_variable, []},
                     {elvis_style, no_behavior_info, []},
                     {
                       elvis_style,
                       module_naming_convention,
                       ["^([a-z][a-z0-9]*_?)*(_SUITE)?$", []]
                     }
                    ]
       }
    }
   ]
 }
].
